html{
    font-family: sans-serif;
  }
  
  header{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
  }
  
  #header-img{
    height: 40px;
    padding: 5px 0 5px 40px;
  }
  
  header ul li{
    display: inline;
    padding: 0 20px;
    list-style: none;
  }
  
  header ul:last-child{
    padding-right: 20px;
  }
  
  header ul li a:link,
  header ul li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  nav{
    float: right;
  }
  
  h1{
    text-align: center;
    margin-top: 60px;
  }
  
  h1 span{
    font-size: 20px;
    display: block;
  }
  
  #about p.title {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
  }
  
  #about div#skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  #about div.skill:not(:first-child){
    margin-left: 5px;
  }
  
  #about div.skill{
    width: 33%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    max-width: 400px;
    min-width: 200px;
    border: solid 3px #bada55;
  }
  
  #about div.skill p.title{
    color: #bada33;
  }
  
  #about div.skill i{
    color: #bada33;
  }
  
  #video{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }
  
  @media screen and (max-width: 1200px){
    #about div#skills{
      flex-direction: column;
    }
  
    #about div.skill:not(:first-child){
      margin-top: 5px;
      margin-left: 0px;;
    }
  }
  
  #signup{
    text-align: center;
    margin-bottom: 20px;
  }
  
  #signup input#email{
    width: 50%;
  }
  
  #signup input#submit {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background: linear-gradient( 90deg, #000, rgba(49, 49, 49, 0.925));
    color: #fff;
    width: 25%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px gray;
  }
  
  #signup input#submit:hover{
    cursor: pointer;
    transform: translateY(1px);
    box-shadow: 0 3px 3px gray;
  }
  
  #signup input#submit:active{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0 0 0 gray;
  }
  
  #contact{
    position: relative;
  }
  
  #contact ul{
    margin: 0 auto;
    margin-top: 15px;
    list-style: none;
    width: 200px;
  }
  
  #contact ul li{
    margin: 5px;
  }
  
  #contact h2,
  #contact p{
    text-align: center;
    margin: 0;
  }
  
  #contact h2{
    margin: 20px
  }
  
  #contact a:link,
  #contact a:visited{
    color: #bada33;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer{
    height: 60px;
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin-top: 60px;
    text-align: center;
    line-height: 30px;
  }
  
  footer a:link,
  footer a:visited{
    color: #bada33;
    text-decoration: none;
  }